.login_div1, .login_div2{
    background: white ;
    padding: 10px;
    border-radius: 20px;
    float: none;
}
body{
    background: red;
}
#player1_name,#player2_name {
    margin-left: 20px;
    display: inline-block;
}